<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Sidebar -->
    <div class="sidebar"><%- include('partials/sidebar.ejs') %></div>

    <!-- Main Content -->
    <div class="content-container">
      <h2>Favorite Movies</h2>
      <div class="favRender">
        <% for (i=0; i < favMovies.length; i++) { %>
          <div class="favMovie">
            <a href="#" class="movieAnchor" id="<%=favMovies[i].movie_id%>">
              <% if (favMovies[i].poster_url === "N/A") { %>
              <img src="img/placeholder.png" alt="<%=favMovies[i].title%>"><br>
              <% } else {%>
              <img src="<%=favMovies[i].poster_url%>" alt="<%=favMovies[i].title%>"><br>
              <% }%>
              <%=favMovies[i].title%>
            </a>
          </div>
        <% } %>
      </div>
    </div>
    
    <%- include('partials/movieModal.ejs') %>
    <%- include('partials/commentModal.ejs') %>
    
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
    <script src="js/script.js"></script>
  </body>
</html>
