<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Sidebar -->
    <div class="sidebar"><%- include('partials/sidebar.ejs') %></div>

    <!-- Main Content -->
    <div class="content-container">
      <h2>All Movies</h2>
      <%- include('partials/movies.ejs') %>
    </div>

    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
  </body>
</html>
