<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Sidebar -->
    <div class="sidebar"><%- include('partials/sidebar.ejs') %></div>

    <!-- Main Content -->
    <div class="content-container">
    <h2>Movies To Watch</h2>
      <div class="watchlistRender">
       <% for (i=0; i < watchlistMovies.length; i++) { %>
          <div class="watchlistMovie">
            <a href="#" class="movieAnchor" id="<%=watchlistMovies[i].movie_id%>">
                <% if (watchlistMovies[i].poster_url === "N/A") { %>
                <img src="img/placeholder.png" alt="<%=watchlistMovies[i].title%>"><br>
                <% } else {%>
                <img src="<%=watchlistMovies[i].poster_url%>" alt="<%=watchlistMovies[i].title%>"><br>
                <% }%>
                <%=watchlistMovies[i].title%>
            </a>
          </div>
      <% } %>
      </div>
    </div>
    <%- include('partials/movieModal.ejs') %>
    <%- include('partials/commentModal.ejs') %>
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
    <script src="js/script.js"></script>
  </body>
</html>
