<!DOCTYPE html>
<html>
  <%- include('partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

    <!-- Sidebar -->
    <div class="sidebar"><%- include('partials/sidebar.ejs') %></div>

    <!-- Main Content -->
    <div class="content-container">
    <h2>Movies To Watch</h2>
      <div class="watchlistRender">
       <% for (i=0; i < watchlistMovies.length; i++) { %>
          <div class="watchlistMovie">
            <a href="#" class="movieAnchor" id="<%=watchlistMovies[i].movie_id%>">
                <% if (watchlistMovies[i].poster_url === "N/A") { %>
                <img src="img/placeholder.png" alt="<%=watchlistMovies[i].title%>"><br>
                <% } else {%>
                <img src="<%=watchlistMovies[i].poster_url%>" alt="<%=watchlistMovies[i].title%>"><br>
                <% }%>
                <%=watchlistMovies[i].title%>
            </a>
          </div>
      <% } %>
      </div>
    </div>
       <!-- Modal -->
       <div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Movie Information</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="movieInfo"></div>
            </div>
            <div class="modal-footer">
              <!--generated forms and buttons on footer with javascript-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer.ejs') %>
    <script src="js/script.js"></script>
  </body>
</html>
